<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playing</title>
    <link rel="stylesheet" href="js/djs/play.css">
    <script type="module" src="js/djs/play.js"></script>
    <script type="module" src="js/djs/Snake.js"></script>

</head>
<body>
    <h1>Gluttonous Snake</h1>
    <div id="score">score: <span>10</span></div>
    <div id="pause" class="control"><span>暂停</span></div>
    <div id="start" class="control"><span>开始</span></div>
    <div id="container"></div>
    <div id="wheel">
        <div></div>
    </div>
    <div id="wheel_pan"></div>
    <div id="speedUp" class="snake_skill">
        <div><span>Q</span></div>
    </div>
    <div id="laser" class="snake_skill">
        <div><span>W</span></div>
    </div>
    <div id="attach" class="snake_skill">
        <div><span>E</span></div>
    </div>
</body>
</html>